{
  "app": {
    "guid": "b86f205c-5ccb-4b00-a938-7a08c4a74a66"
  },
  "odata": {
    "exposeEntities": true,
    "exposeMetadata": false,
    "metadataSecurity": "Administrators",
    "entitiesSecurity": null,
    "expandCompositeKeys": false,
    "addDisplayFields": true
  },
  "security": {
    "token": "Yjg2ZjIwNWMtNWNjYi00YjAwLWE5MzgtN2EwOGM0YTc0YTY2",
    "tokenExpiration": 3600,
    "tokenRecaptcha": null
  },
  "auth": {
    "type": "Token",
    "defaultDomain": null,
    "hostname": null,
    "autoSignUp": true,
    "socialLogin": false,
    "mutual": false,
    "socialNetworks": [],
    "autoSignUpSocial": false,
    "applicationProperties": {},
    "templateProperties": {
      "selectdatabase": "Utilizar banco de dados temporário em disco (H2)",
      "appid": "io.cronapp.apps.testproject",
      "backend": "true",
      "menuPosition": "Horizontal",
      "frontend": "true",
      "mutual": "false",
      "social": "false",
      "theme": "Flatly",
      "authentication": "Token"
    },
    "groupName": null
  },
  "fixedTimeZone": true,
  "timeZone": "UTC",
  "timeZoneOffset": 0,
  "flushMode": "AUTO"
}